.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    justify-content: center;
    background-color: rgb(3, 8, 63);
    border-radius: 16px;
    box-shadow: 2px 2px  2px 2px rgb(15, 15, 15);
    /* padding-top: 30px !important; */
     /* padding-top:40% !important;  */
    /* padding-top: 10%;  */
    /* margin-bottom: 40% !important; */
    
  }
  .credential{
    border: 2px solid tomato;
    padding: 2px;
    font-size: 1.3rem;
    color: tomato;
  }
  .credicon{
    font-size: 1.2rem !important;
    padding-top: 1px !important;
  }
  /* .text-center{
    background: aqua;
    width: 100%;
    
  }
  .Login{
    background: blue !important;
  } */
  
